@model AccountManagement.Application.Contracts.Electrical_System.General_Meter.OperationCreate
@{
}
<div class="modal-header">
    <h4 class="modal-title">ثبت قبض جدید برای  - @Model.GeneralMeter</h4>
</div>

<form class="needs-validation" novalidate asp-page="./Index" asp-page-handler="Create" method="post" enctype="multipart/form-data">
    <div class="modal-body">
        <div class="row">
            <input type="hidden" value="@Model.GeneralMeter_Id" asp-for="GeneralMeter_Id">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="form-label" for="Date_Rrad">تاریخ خوانده شده</label>
                    <input id="Date_Rrad" dir="ltr" required class="form-control input-mask" asp-for="Date_Rrad"
                           data-inputmask="'alias': 'datetime'" data-inputmask-inputformat="yyyy/mm/dd" im-insert="false" placeholder="yyyy/mm/dd">
                    <div class="invalid-feedback">اطلاعات باید وارد شود !</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="form-label" for="Date_Pay">تاریخ پرداخت</label>
                    <input id="Date_Pay" dir="ltr" required class="form-control input-mask" asp-for="Date_Pay"
                           data-inputmask="'alias': 'datetime'" data-inputmask-inputformat="yyyy/mm/dd" im-insert="false" placeholder="yyyy/mm/dd">
                    <div class="invalid-feedback">اطلاعات باید وارد شود !</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="form-label" for="Grade_Past">درجه قبلی</label>
                    <input id="Grade_Past" type="text" class="form-control input-mask text-start" data-inputmask="'alias': 'numeric', 'placeholder': '0'"
                           required asp-for="Grade_Past">
                    <div class="invalid-feedback">اطلاعات باید وارد شود !</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="form-label" for="Grade_Now">درجه فعلی</label>
                    <input id="Grade_Now" type="text" class="form-control input-mask text-start" data-inputmask="'alias': 'numeric', 'placeholder': '0'"
                           required asp-for="Grade_Now">
                    <div class="invalid-feedback">اطلاعات باید وارد شود !</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="form-label" for="Amount">مبلغ قابل پرداخت</label>
                    <input id="Amount" type="text" class="form-control input-mask text-start" data-inputmask="'alias': 'numeric', 'placeholder': '0'"
                           required asp-for="Amount">
                    <div class="invalid-feedback">اطلاعات باید وارد شود !</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label id="Photo" class="form-label">اسکن قبض</label>
                    <input type="file" class="form-control" id="Photo" asp-for="Photo" accept="image/*">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-sm btn-icon btn-outline-success"><i class="fa fa-save"></i></button>
            <a class="btn btn-sm btn-icon btn-outline-warning" asp-page="./Index" asp-route-id="@Model.GeneralMeter_Id"><i class="fa fa-close"></i></a>
        </div>
    </div>
</form>