@page
@model IndexModel
@{
    Layout = "Shared/_Layout";
	ViewData["Title"] = "صفحه ورود";
}
<form class="form-horizontal form-signin needs-validation" novalidate method="post" asp-page-handler="Login">                            
	<fieldset class="form-label-group">
		<input type="text" class="form-control" id="Username" name="Username" placeholder="نام کاربری شما" required="" autofocus="">
		<label for="Username">نام کاربری</label>
		<div class="invalid-feedback">اطلاعات باید وارد شود !</div>
	</fieldset>
	<fieldset class="form-label-group">
		<input type="password" class="form-control" id="Password" name="Password" placeholder="رمزعبور شما" required="" autofocus="">
		<label for="Password">رمزعبور</label>
		<div class="invalid-feedback">اطلاعات باید وارد شود !</div>
	</fieldset>
	<div class="form-group row">
		<div class="col-12 text-center">
			<a href="#" class="card-link">فراموشی رمز عبور ؟</a>
		</div>
	</div>
	<button type="submit" class="btn-gradient-primary btn-block my-1">ورود</button>
</form>
@if (Model.Message != null)
{
	<input type="hidden" id="message" value="@Model.Message" />
	@section Scripts {
		<script>
			var message = document.getElementById("message").value;
			Swal.fire({
				position: 'center',
				icon: 'error',
				title: message,
				showConfirmButton: false,
				timer: 1500
			}).then(function (isConfirm) {
				window.location.href = "/Index";
			});
		</script>
	}
}