@model AccountManagement.Application.Contracts.Inventory.InventoryEdit
@{
}
<div class="modal-header">
    <h4 class="modal-title">ویرایش - @Model.Name</h4>
</div>

<form class="needs-validation" novalidate asp-page="./Index" asp-page-handler="Edit" method="post">
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="form-label" for="Name">نام</label>
                    <input id="Name" type="text" class="form-control" required asp-for="Name">
                    <div class="invalid-feedback">اطلاعات باید وارد شود !</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="form-label" for="Location">موقعیت</label>
                    <input id="Location" type="text" class="form-control" required asp-for="Location">
                    <div class="invalid-feedback">اطلاعات باید وارد شود !</div>
                </div>
            </div>
        </div>
        <input type="hidden" asp-for="Id" value="@Model.Id">
        <div class="modal-footer">
            <button type="submit" class="btn btn-sm btn-icon btn-outline-success"><i class="fa fa-save"></i></button>
            <a class="btn btn-sm btn-icon btn-outline-warning" asp-page="./Index"><i class="fa fa-close"></i></a>
        </div>
    </div>
</form>
@section Scripts {
    <script src="~/Theme/assets/vendor_components/formatter/formatter.js"></script>
    <script src="~/Theme/assets/vendor_components/formatter/jquery.formatter.js"></script>
    <script src="~/Theme/material-rtl/js/pages/formatter.js"></script>
}