@model AccountManagement.Application.Contracts.In_Out_Inventory.In_Out_InventoryPhoto
@{

}

<div class="modal-header">
    <h4 class="modal-title">نمایش فاکتور</h4>
</div>

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <img src="~/Uploader/@Model.Ph_Invoice" />
                </div>
            </div>
        </div>
    </div>
</section>