@model AccountManagement.Application.Contracts.Locations.Create_Location
@{
}
<div class="modal-header">
    <h4 class="modal-title">ثبت مکان جدید</h4>
</div>

<form class="needs-validation" novalidate asp-page="./Index" asp-page-handler="Create" method="post">
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="form-label" for="Name">نام</label>
                    <input id="Name" type="text" required class="form-control" asp-for="Name">
                    <div class="invalid-feedback">اطلاعات باید وارد شود !</div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-sm btn-icon btn-outline-success"><i class="fa fa-save"></i></button>
            <a class="btn btn-sm btn-icon btn-outline-warning" asp-page="./Index"><i class="fa fa-close"></i></a>
        </div>
    </div>
</form>