@model AccountManagement.Application.Contracts.Shop_For_Rent.Edit_ShopForRent
@{
}
<div class="modal-header">
    <h4 class="modal-title">تخلیه دوکان - @Model.LocationName _ @Model.ShopName</h4>
</div>

<form class="needs-validation" novalidate asp-page="./Index" asp-page-handler="Empty" method="post">
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="form-label" for="End_Date">تاریخ</label>
                    <input id="End_Date" dir="ltr" required class="form-control input-mask" asp-for="End_Date"
                           data-inputmask="'alias': 'datetime'" data-inputmask-inputformat="yyyy/mm/dd" im-insert="false" placeholder="yyyy/mm/dd">
                    <div class="invalid-feedback">اطلاعات باید وارد شود !</div>
                </div>
            </div>
        </div>
        <input type="hidden" asp-for="Id" value="@Model.Id">
        <input type="hidden" asp-for="Shop_Id" value="@Model.Shop_Id">
        <div class="modal-footer">
            <button type="submit" class="btn btn-sm btn-icon btn-outline-success"><i class="fa fa-save"></i></button>
            <a class="btn btn-sm btn-icon btn-outline-warning" asp-page="./Index"><i class="fa fa-close"></i></a>
        </div>
    </div>
</form>
@section Scripts {
    <script src="~/Theme/assets/vendor_components/formatter/formatter.js"></script>
    <script src="~/Theme/assets/vendor_components/formatter/jquery.formatter.js"></script>
    <script src="~/Theme/material-rtl/js/pages/formatter.js"></script>
}