@model AccountManagement.Application.Contracts.Electrical_System.General_Meter.GeneralMeterCreate
@{
}
<div class="modal-header">
    <h4 class="modal-title">ثبت متر عممومی جدید</h4>
</div>

<form class="needs-validation" novalidate asp-page="./Index" asp-page-handler="Create" method="post">
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="form-label" for="Name">نام</label>
                    <input id="Name" type="text" required class="form-control" asp-for="Name">
                    <div class="invalid-feedback">اطلاعات باید وارد شود !</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="form-label" for="Cod">کد</label>
                    <input id="Cod" type="text" required class="form-control" asp-for="Cod">
                    <div class="invalid-feedback">اطلاعات باید وارد شود !</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="form-label" for="Grade">درجه</label>
                    <input id="Grade" type="text" class="form-control input-mask text-start" data-inputmask="'alias': 'numeric'"
                           required asp-for="Grade">
                    <div class="invalid-feedback">اطلاعات باید وارد شود !</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="form-label" for="Date">تاریخ</label>
                    <input id="Date" dir="ltr" required class="form-control input-mask" asp-for="Date"
                           data-inputmask="'alias': 'datetime'" data-inputmask-inputformat="yyyy/mm/dd" im-insert="false" placeholder="yyyy/mm/dd">
                    <div class="invalid-feedback">اطلاعات باید وارد شود !</div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-sm btn-icon btn-outline-success"><i class="fa fa-save"></i></button>
            <a class="btn btn-sm btn-icon btn-outline-warning" asp-page="./Index"><i class="fa fa-close"></i></a>
        </div>
    </div>
</form>