<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="سیستم حسابداری">
    <meta name="author" content="عبدالجبار سروری">
    <link rel="icon" href="../../images/favicon.ico">
    <title> مارکیت فاضلی | 401 صفحه غیر مجاز </title>
    <link rel="stylesheet" href="~/Theme/assets/vendor_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/Theme/material-rtl/css/bootstrap-extend.css">
    <link rel="stylesheet" href="~/Theme/material-rtl/css/master_style.css">
    <link rel="stylesheet" href="~/Theme/material-rtl/css/skins/_all-skins.css">
</head>
<body class="hold-transition">
    <section class="error-page bg-img h-p100 rtl bgerror">
        <div class="container h-p100">
            <div class="row h-p100 align-items-center justify-content-center text-center text-white">
                <div class="col-lg-7 col-md-10 col-12">
                    @RenderBody()
                </div>
            </div>
        </div>
    </section>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/Theme/assets/vendor_components/popper/dist/popper.min.js"></script>
    <script src="~/Theme/assets/vendor_components/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>