<!DOCTYPE html>
<html class="loading" lang="fa" data-textdirection="rtl">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <meta name="description" content="سیستم حسابداری مارکت فاضلی">
        <meta name="keywords" content="حسابداری ، نرم افزار ، وب سایت">
        <meta name="author" content="عبدالجبار سروری">
        <title>سیستم حسابداری مارکت فاضلی | @ViewData["Title"]</title>
        <link rel="shortcut icon" href="~/Templet/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="~/Templet/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="~/Templet/bootstrap-extended.css">
        <link rel="stylesheet" type="text/css" href="~/Templet/components.css">
        <link rel="stylesheet" type="text/css" href="~/Templet/account-login.css">
        <link rel="stylesheet" type="text/css" href="~/sweetalert2/sweetalert2.css">
    </head>
<body class="vertical-layout 1-column bg-full-screen-image blank-page blank-page">
<div class="app-content content">
	<div class="content-wrapper">
		<div class="content-header row">
		</div>
		<div class="content-body">
			<section id="account-login" class="flexbox-container">    
				<div class="col-12 d-flex align-items-center justify-content-center">
					<div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-12 p-0 text-center d-none d-md-block">
						<div class="border-grey border-lighten-3 m-0 box-shadow-0">
							<img src="~/Templet/user_group.png" class="card-account-img width-200" alt="card-account-img">
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-12 p-0">
						<div class="card border-grey border-lighten-3 m-0 box-shadow-0 card-account-right">                
							<div class="card-content">                    
								<div class="card-body p-2">
									<p class="text-center h5 p-1 text-capitalize">خوش آمدید به سیستم حسابداری مارکت فاضلی !</p>
									<p class="mb-2 text-center">لطفا‌ً اطلاعات ورود خود را وارد کنید .</p>
									@RenderBody()
								</div>                    
							</div>
						</div>
					</div>        
				</div>    
			</section>
		</div>
	</div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/sweetalert2/sweetalert2.js"></script>
@await RenderSectionAsync("Scripts",required:false)
</body>
</html>